<ion-view view-title="{{category.attributes.name}}">
	<ion-nav-buttons side="right" class="show">
		<nav-buttons></nav-buttons>
	</ion-nav-buttons>
	<ion-content>
	    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
	    </ion-refresher>
	    
		<div class="video-grid">
			<div ng-repeat="video in videos" class="video-container">
				<a href="#/video/{{video.id}}">
					<div class="video-overlay"><h5>{{ video.attributes.yt_title }}</h5></div>
					<iframe class="video-as-link" src="{{trust('https://www.youtube.com/embed/'+video.attributes.yt_videoId+'?showinfo=0&modestbranding=1&controls=0')}}" frameborder="0" allowfullscreen></iframe>
				</a>
			</div>
		</div>

	</ion-content>
	<ion-footer-bar ng-controller="AppCtrl">
  		<div class="title">
    		<button class="button button-icon center" ng-click="scrollTop()">Back to Top</button>
    	</div>
  	</ion-footer-bar>
</ion-view>