<ion-view view-title="Create Breakpointed Video">
  <ion-nav-buttons side="right" class="show">
    <nav-buttons></nav-buttons>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
    </ion-refresher>

    <div class="full-width-video">
    	<iframe src="{{trust('https://www.youtube.com/embed/'+video.youtubeVideoId+'?showinfo=0&modestbranding=1&controls=0')}}" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="padding">
      <h4>{{video.defaultTitle}}</h4>
      <p>{{video.description}}</p>
    </div>

    <div class="padding" id="instructions" ng-show="showInstructions">
    	<p>This video hasn't been breakpointed yet! If you think this video would benefit from some breakpoints add it to our growing collection of Breakpointed videos.</p>
    	<div class="text-center">
    		<button class="button button-royal center" ng-click="activateShowCreateForm()">Breakpoint Video</button>
    	</div>
    </div>

    <div class="padding" id="create-form" ng-show="showCreateForm">
   		<form ng-submit="createVideo(video)">
   			<div class="list">
   				<label class="item item-input">
    				<span class="input-label">Title</span>
    				<input type="text" ng-model="video.title" placeholder="{{defaultTitle}}">
 	 			</label>
 	 			<label class="item item-input item-select">
 	 				<div class="input-label">Category</div>
	 	 			<select ng-model="video.category" ng-change="categoryChanged(video.category)">
	 	 				<option ng-repeat="category in categories">{{category}}</option>
	 	 			</select>
 	 			</label>
 	 			<label class="item item-input item-select">
 	 				<div class="input-label">Subcategory for {{ video.category }}</div>
	 	 			<select ng-model="video.subcategory">
	 	 				<option ng-repeat="subcategory in subcategories">{{subcategory}}</option>
	 	 			</select>
 	 			</label>
   			</div>
	    	<div class="text-center padding">
	    		<button type="submit" class="button button-royal">Create</button>
	    		<button class="button button-royal center" ng-click="activateShowInstructions()">Cancel</button>
	    	</div>
    	</form>
    </div>

    <br><br><br><br>
  </ion-content>
</ion-view>