<ion-view hide-nav-bar="true">
	<!-- <ion-nav-buttons side="right" class="show"> -->
		<!-- <nav-buttons></nav-buttons> -->
	<!-- </ion-nav-buttons> -->
	
	<ion-content>
		<ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()"></ion-refresher>


        <div class="section introduction">
            <div class="topLogo">
                <img id="logo" src="img/logo.png">
                <span>breakpoint</span>
            </div>

            <div class="vertical-center">
                <div class="about">
                    <h4>Watch videos at your own pace.</h4>
                    <span>Pause. Play. Repeat.</span>
                    <p>
                    View a long video in meaningful segments, with improved controls. Split a video yourself for later. Don't get it? Dive in and experience breakpoint for yourself.
                    </p>
                    <a class="button" href="#/browse">Browse videos</a>
                    <button class="button center" ng-click="openSearch()">Search</button>
                </div>

            </div>
        </div>

        <div class="section instructions">

            <div class="whatIs">
                <h4>What is Breakpoint?</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.
                </p>
            </div>

            <div class="whoDoes">
                <h4>Who creates a breakpointed video?</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.
                </p>
            </div>

        </div>

	</ion-content>

    
</ion-view>