<ion-view hide-nav-bar="true">
	<!-- <ion-nav-buttons side="right" class="show"> -->
		<!-- <nav-buttons></nav-buttons> -->
	<!-- </ion-nav-buttons> -->
	
	<ion-content>
		<ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()"></ion-refresher>


        <div class="section introduction">
            <div class="topLogo">
                <img id="logo" src="img/logo.png">
                <span>breakpoint</span>
            </div>

            <div class="vertical-center">
                <div class="about">
                    <h4>Watch videos at your own pace.</h4>
                    <span>Pause. Play. Repeat.</span>
                    <p>
                    View a long video in meaningful segments, with improved controls. Split a video yourself for later. Don't get it? Dive in and experience breakpoint for yourself.
                    </p>
                    <a class="button" href="#/browse">Browse videos</a>
                    <button class="button center" ng-click="openSearch()">Search</button>
                </div>

            </div>
        </div>

        <div class="section instructions">

            <div class="whatIs">
                <h4>What is Breakpoint?</h4>
                <p>
                    Breakpoint is a custom video player designed especially for learning. Videos are split into digestible segments by "breakpoints." You can easily pause, replay, and skip between these meaningful segments (they have titles and descriptions as well) with a single tap of the finger. No more manual rewinding or memorizing your favorite parts - breakpoint has you covered.
                </p>
            </div>

            <div class="whoDoes">
                <h4>Who creates a breakpointed video?</h4>
                <p>
                    Anyone can create a breakpointed youtube video. To start, just tap on the "Search" button to look for a topic you're interested in and browse for a video you want from Youtube. All videos are automatically shared so that everyone can enjoy your favorite moments.
                </p>
            </div>

        </div>

	</ion-content>

    
</ion-view>