<ion-view view-title="Search">
  <ion-nav-buttons side="right" class="show">
    <nav-buttons></nav-buttons>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
    </ion-refresher>
      
    <div class="button-bar">
      <a class="button button-royal" ng-click="showBreakpointed()">Show Breakpointed Videos</a>
      <a class="button button-dark" ng-click="showAll()">Show All Videos</a>
    </div>  
    
    <div class="list">
      <div ng-repeat="video in videos">
        <a ng-show="all || breakpointed" ng-if="video.isBreakpointed" href="#/video/{{video.id.videoId}}" class="item item-thumbnail-left item-text-wrap" href="#">
          <img style="width:100%;" ng-src="{{video.snippet.thumbnails.high.url}}">
          <h2>{{video.snippet.title}}</h2>
          <p>YT id: {{video.id.videoId}}</p>
          <p>Video is breakpointed.</p>
        </a>

        <a ng-show="all" ng-if="!video.isBreakpointed" href="#/create/{{video.id.videoId}}" class="item item-thumbnail-left item-text-wrap" href="#">
          <img style="width:100%;" ng-src="{{video.snippet.thumbnails.high.url}}">
          <h2>{{video.snippet.title}}</h2>
          <p>YT id: {{video.id.videoId}}</p>
          <p>Video is not breakpointed.</p>
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>