<ion-view view-title="Search">
  <ion-nav-buttons side="right" class="show">
    <nav-buttons></nav-buttons>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()"></ion-refresher>
      
    <div class="padding">
      <h4>Results for: {{ searchTerms }}.</h4>
      Viewing breakpointed and non-breakpointed videos. If a video is breakpointed, click on it to view it. If a video isn't breakpointed, click on it to add breakpoints to the video and add it to breakpointed videos collection.
    </div>
    <div class="button-bar padding">
      <a class="button button-royal" ng-click="showBreakpointed()"> Breakpointed Videos</a>
      <a class="button button-dark" ng-click="showAll()">All Videos</a>
    </div>

    <div class="loading_videos" ng-if="!videos_loaded">
         <div class="loading vertical-center">
            <fa name="circle-o-notch" spin></fa> Searching for videos...
        </div>
    </div>
    
    <div class="list">
      <div ng-repeat="video in videos">
        <a ng-show="all || breakpointed" ng-if="video.isBreakpointed" href="#/video/{{video.id.videoId}}" class="item item-thumbnail-left item-text-wrap" href="#">
          <img style="width:100%;" ng-src="{{video.snippet.thumbnails.high.url}}">
          <h2>{{video.snippet.title}}</h2>
          <p>YT id: {{video.id.videoId}}</p>
          <p>Video is breakpointed.</p>
        </a>

        <a ng-show="all" ng-if="!video.isBreakpointed" href="#/create/{{video.id.videoId}}" class="item item-thumbnail-left item-text-wrap" href="#">
          <img style="width:100%;" ng-src="{{video.snippet.thumbnails.high.url}}">
          <h2>{{video.snippet.title}}</h2>
          <p>YT id: {{video.id.videoId}}</p>
          <p>Video is not breakpointed.</p>
        </a>
      </div>
    </div>

    <div style="height:30px;"></div>

    <ion-footer-bar ng-controller="AppCtrl">
      <div class="title">
        <button class="button button-icon center" ng-click="scrollTop()">Back to Top</button>
      </div>
    </ion-footer-bar>

  </ion-content>
</ion-view>