<script scr="https://www.youtube.com/iframe_api"></script>

<ion-view ng-view view-title="Yipee!!!" ng-init="init()" >
    <ion-content>
    <!-- ngview -->
    <!-- <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
    </ion-refresher> -->
    <div ng-repeat="breakpoint in breakpoints">
        {{ breakpoint.time }}
    </div>

    <div id="player"></div>

    <youtube width="{{ yt.width }}" height="{{ yt.height }}"></youtube>
    <button ng-click="sendControlEvent('PLAY')">Send Play</button>
    <button ng-click="sendControlEvent('PAUSE')">Send Pause</button>
    <button ng-click="sendControlEvent('STOP')">Send Stop</button>
    <button ng-click="sendControlEvent('FORWARD')">Forward</button>
    <button ng-click="sendControlEvent('BACK')">Backward</button>
    <button ng-click="sendControlEvent('REPEAT')">Repeat</button>

    <span ng-bind="user.name">

    </ion-content>
</ion-view>