

<div></div> <!-- Youtube replaces this with the iframe -->

<!-- Overlay that is shown when video is not playing -->
<div class="yt_showoverlay">
    <a href="javascript:;" ng-click="fullscreen()">
        <div style="width:100%;height:100%;"></div>
    </a>
</div>

<!-- Overlay that is shown while the video is fullscreened and playing -->
<div class="yt_playoverlay hide">
    <div class="yt_playcontrols">
        <span class="yt_back">
            <button class="button button-small button-circle button-assertive icon ion-ios-skipbackward" ng-click="backPlayer()"><!-- Backward --></button>
        </span>

        <span class="yt_repeat">
            <button class="button button-small button-circle button-assertive icon ion-loop" ng-click="repeatPlayerSegment()"><!-- Repeat --></button>
        </span>

        <span class="yt_pauseplay">
            <button class="button button-small button-circle button-assertive icon ion-play" ng-click="pausePlayPlayer()"><!-- Send Play --></button>
        </span>

        <span class="yt_bpBrowse">
            <button class="button button-small button-circle button-assertive icon" ng-click=""><!-- Open the breakpoint browser --></button>
        </span>

        <span class="yt_forward">
            <button class="button button-small button-circle button-assertive icon ion-ios-skipforward" ng-click="forwardPlayer()"><!-- Forward --></button>
        </span>
    </div>

    <!-- The mid-bottom miniscrubber that changes per segment -->
    <div class="yt_miniscrubber">

    </div>

    <!-- The bottom player elements -->
    <div class="yt_bottombar">
        <label class="current_time" ng-bind="currentTime_formatted"></label>
        <a class="compress" href="javascript:;" ng-click="leave_fullscreen()"><fa name="compress"></fa></a>
        <label class="duration" ng-bind="duration_formatted"></label>
        <span class="bottom_player">
            <ul class="player_breakpoints">
                <li ng-repeat="breakpoint in breakpoints" id="{{ breakpoint.id }}"></li>
            </ul>
            <input type="range" min="0" max="{{ duration }}" step="0.2">
            <div class="progress"></div>
        </div>



    </div>

</div>
