

<div></div> <!-- Youtube replaces this with the iframe -->

<!-- Overlay that is shown when video is not playing -->
<div class="yt_showoverlay">
    <a href="javascript:;" ng-click="fullscreen()">
        <div style="width:100%;height:100%;"></div>
    </a>
</div>

<!-- Overlay that is shown while the video is fullscreened and playing -->
<!-- If the browse BP overlay is open, it gets one more class "browsing" that affects styling of children -->
<div class="yt_playoverlay hide browsing">

    <!-- The main play controls - back, repeat, pause/play, browse, forward -->
    <div class="yt_playcontrols">
        <span class="yt_back">
            <button class="button button-small button-circle button-assertive icon ion-ios-skipbackward" ng-click="backPlayer()"><!-- Backward --></button>
        </span>

        <span class="yt_repeat">
            <button class="button button-small button-circle button-assertive icon ion-loop" ng-click="repeatPlayerSegment()"><!-- Repeat --></button>
        </span>

        <span class="yt_pauseplay">
            <button class="button button-small button-circle button-assertive icon ion-play" ng-click="pausePlayPlayer()"><!-- Send Play --></button>
        </span>

        <span class="yt_bpBrowse">
            <button class="button button-small button-circle button-assertive icon" ng-click=""><img src="img/skipBP_w.png"><!-- Open the breakpoint browser --></button>
        </span>

        <span class="yt_forward">
            <button class="button button-small button-circle button-assertive icon ion-ios-skipforward" ng-click="forwardPlayer()"><!-- Forward --></button>
        </span>
    </div>

    <!-- The breakpoint browse window -->
    <div class="bp_browser">
        <ul>
            <li ng-repeat="breakpoint in breakpoints" ng-class-odd="'odd'" ng-class-even="'even'">
                <div class="tickmark"></div>
                <a href="javascript:;" class="bp_start" ng-click="jumpToBp($index)">Starts at {{parseTime(breakpoint.attributes.time)}}</a>
                <span style="display:block;">{{breakpoint.attributes.title}}</span>
                <p>
                    {{breakpoint.attributes.description}}
                </p>
            </li>
        </ul>
    </div>

    <!-- The mid-bottom miniscrubber that changes per segment -->
    <div class="yt_miniscrubber">
        <label class="current_time" ng-bind="currentBp_start_formatted"></label>
        <label class="duration" ng-bind="currentBp_end_formatted"></label>
        <span class="miniscrubber">
            <input type="range" min="{{ currentBp_start }}" max="{{ currentBp_end }}" step="0.1" ng-model="currentTime" ng-change="setToSpot()" ng-mousedown="draggingSlider = true" ng-mouseleave="draggingSlider = false">
        </span>
    </div>

    <!-- The bottom player elements -->
    <div class="yt_bottombar">
        <label class="current_time" ng-bind="currentTime_formatted"></label>
        <a class="compress" href="javascript:;" ng-click="leave_fullscreen()"><fa name="compress"></fa></a>
        <label class="duration" ng-bind="duration_formatted"></label>
        <span class="bottom_player">
            <div class="played"></div>
            <ul class="player_breakpoints">
                <li ng-repeat="breakpoint in breakpoints" id="{{ breakpoint.id }}"></li>
            </ul>
            <input type="range" min="0" max="{{ duration }}" step="0.2" ng-model="currentTime" ng-change="setToSpot()" ng-mousedown="draggingSlider = true" ng-mouseleave="draggingSlider = false">
            <div class="progress"></div>
        </div>
    </div>

</div>

<!-- Usually hidden, but contains the notifications that appear in the video -->
<div class="yt_notifications">
    <span class="bp_progress">Progress: {{ currentBp +1 }} / {{ breakpoints.length }}</span>
    <span class="bp_title">{{ breakpoints[currentBp].attributes.title }}</span>
</div>
