/* Ionic overrides */

ion-header-bar {
    background: background: linear-gradient(to right, rgba(26, 14, 123, 0.5), rgba(154, 22, 70, 0.5)),rgba(0,0,0,0.7) !important;
}

ion-header-bar button {
    color: white !important;
}

.nav-bar-block {
    color: white !important;
}

.bar.bar-stable .title {
    color: white !important;
}
