ion-header-bar {
    background-color: #6636DA !important;
}

ion-header-bar button {
    color: white !important;
}

.nav-bar-block {
    color: white !important;
}

.bar.bar-stable .title {
    color: white !important;
}

