/* Empty. Add your own CSS if you like */

#logo {
	width: 70%;
	height: 100%;
	margin: 20px auto;
}

#breakpoint-description {
	margin: 20px 0;
	padding: 0 20px;
}

#browse {
	margin: 20px 0;
	padding: 0 20px;
}

#make-breakpoint {
	background-color: rgba(136,106,234,.5);
	padding: 20px 20px 50px 20px;
	margin: 20px 0 0 0;
}

#categories-grid {
	margin: 20px 0;
	padding: 0 20px;
	display:block;
	overflow:hidden;
}

#search {
	margin-top: 40px;
	padding: 0 20px;
	display: block;
}

iframe.sample-video {
	width:70%;
	height:100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.item-input.with-button {
	padding: 0 0 0 16px;
}


.category > a > .item{
	display: inline-block;
	float: left;
	width: 46%;
	height: 80px;
	margin: 2%;
}
