/* Empty. Add your own CSS if you like */

.button-circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 3px;
}

.hide { display: none; }

/* Add this to ionic scrolling windows to prevent them from scrolling*/
.no-scroll { transform: initial !important; }

#logo {
	width: 70%;
	height: 100%;
	margin: 20px auto;
}

#breakpoint-description {
	margin: 20px 0;
	padding: 0 20px;
}

#browse {
	margin: 20px 0;
	padding: 0 20px;
}

#make-breakpoint {
	background-color: rgba(136,106,234,.5);
	padding: 20px 20px 50px 20px;
	margin: 20px 0 0 0;
}

#categories-grid {
	margin: 20px 0;
	padding: 0 20px;
	display:block;
	overflow:hidden;
}

#search {
	margin-top: 40px;
	padding: 0 20px;
	display: block;
}

iframe.sample-video {
	width:70%;
	height:100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.item-input.with-button {
	padding: 0 0 0 16px;
}


/* Category grid */
.category > a > .item{
	display: inline-block;
	float: left;
	width: 46%;
	height: 80px;
	margin: 2%;
    padding: 0;
}

.category-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:100000;
    background-color: rgba(255,255,255,.5);
    text-align:left;
}

.category-background {
    width: 100%;
    height: 100%;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

.category-overlay > h2 {
    color: black;
    padding: 8px;
    font-weight: 450;
}


/* Custom YT Overlay */

youtube {
    display: block;
    width: 500px;
    height: 500px;
}

iframe {
    width: 100%;
}

.fullscreen {
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    position: fixed;
    min-width: 0px;
    max-width: none;
    min-height: 0px;
    max-height: none;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    z-index: 5;
}









.yt_showoverlay, .yt_playoverlay {
    z-index: 10;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Video Player overlay - middle controls */
.yt_playcontrols { /* Center vertically */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size:20px;
}
.yt_playcontrols span {
    position: absolute;
    width: 20%;
    text-align: center;
    left: 0;
    right: 0;
}
span.yt_back { right: inherit; }
span.yt_repeat { margin-left: 20%; }
span.yt_pauseplay { margin: 0 auto; }
span.yt_bpBrowse {
    margin-right: 20%;
    left: inherit;
}
span.yt_forward { left: inherit; }


/* Bottom player controls */
.yt_fullbar {
    color: white;
}













/* Video grid and overlay on browse category pages */

.video-grid {
    margin: 20px 0;
    padding: 0 20px;
    display:block;
    overflow:hidden;
}

.video-container {
    position:relative;
    display: inline-block;
    float: left;
    width: 46%;
    height: 90px;
    margin: 2%;
}

.video-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(46,8,84,.5);
    z-index:100000;
    text-align:left;
}

.video-as-link {
    width: 100%;
    height: 100%;
}

.video-overlay > h5 {
    color: white;
    padding: 8px;
}

/* Resizing youtube player on video page */

youtube {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
}

youtube > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.breakpoint-table {
    width: 100%;
    margin-top: 20px;
    font-size: 120%;
}

.time-cell {
    border-right: 2.5px solid rgba(136,106,234,.2);
    width: 30%;
    color: rgb(46,8,84);
    font-weight: bold;
    text-align: center;
}

.step-description-cell {
    width: 70%;
    padding: 0px 0px 20px 15px;
}

.step-description-cell > h5 {
    font-size: 100%;
}

.step-description-cell > p {
    font-size: 92%;
}

.icon {
    font-size: 4px;
}

#player-controls {
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}


