
/* Any and all styles related to the youtube player or its controls */

/* Resizing youtube player on video page */
.full-width-video {
    display: block;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
}

.full-width-video > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Visible controls before fullscreen */
.player-controls {
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

/* Before fullscreen, the playmode selector */
.playmode {
    padding: 10px;
    max-width: 90%;
    margin: 0 auto;
}
/*.playmode label {
    float: left;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
}
.playmode span {
    display: block;
    overflow: hidden;
}
.playmode select {
    width: 100%;
}*/





.fullscreen {
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    position: fixed;
    min-width: 0px;
    max-width: none;
    min-height: 0px;
    max-height: none;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    z-index: 5;
}

.yt_showoverlay, .yt_playoverlay {
    z-index: 10;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.yt_playoverlay {
    background: linear-gradient(rgba(0, 0, 0, 0.8) 20%, 
                                rgba(1,1,1,0) 30%, 
                                rgba(1,1,1,0) 70%, 
                                rgba(0, 0, 0, 0.8) 80%);
}

/* Video Player fullscreen overlay - middle controls */
.yt_playcontrols { /* Center vertically */
    position: relative;
    margin-top:10px;
/*    top: 50%;
    transform: translateY(-50%);*/
    color: white;
    font-size:20px;
}
.browsing .yt_playcontrols {
    top: 0;
    /*margin-top:10px;*/
}
.yt_playcontrols span {
    position: absolute;
    width: 20%;
    text-align: center;
    left: 0;
    right: 0;
}
span.yt_back { right: inherit; }
span.yt_repeat { margin-left: 20%; }
span.yt_pauseplay { margin: 0 auto; }
span.yt_pauseplay span.fa {
    font-size: 15px;
    margin-top: -8px;
}
span.yt_pauseplay span.fa[name="play"] { margin-left: 15px; }
span.yt_pauseplay span.fa[name="pause"] { margin-left: 12px; }
span.yt_bpBrowse {
    margin-right: 20%;
    left: inherit;
}
span.yt_bpBrowse img {
    max-width: 80%;
    margin-top: 25%;
}
span.yt_forward { left: inherit; }


/* Video Player fullscreen overlay - Bottom player controls */
.yt_bottombar {
    color: white;
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 15;
}
label.current_time {
    float: left;
    width: 50px;
    margin: 5px 15px 10px 15px;
    text-align: right;
}
label.duration {
    float: right;
    margin: 5px 15px 10px 5px;
}
.yt_bottombar .compress, .yt_bottombar .expand {
    float: right;
    color: white;
    margin: 5px 10px 10px 10px;
    font-size: 20px;
}

.yt_miniscrubber {
    color: white;
    position: absolute;
    bottom: 0;
    width: 60%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 40px;
    left: 0;
    right: 0;
    padding-right: 10px;
}

/* Bottom player and mini scrubber styling (it's a range slider) */
span.bottom_player, span.miniscrubber{
    overflow: hidden;
    padding-right: 10px;
    display: block;
    margin-top: 5px;
}
/* Custom color and styling for inputs */
.bottom_player input, .yt_miniscrubber input { width: 100%; }

.bottom_player input, .yt_miniscrubber input {
    -webkit-appearance: none; /* Remove the default slider "track" */
    background: transparent;
}
.bottom_player input::-webkit-slider-thumb, .yt_miniscrubber input::-webkit-slider-thumb {
    -webkit-appearance: none !important; /* Remove the default slider button */
    position: relative;
    width: 8px;
    height: 100%;
}
.bottom_player input::-webkit-slider-runnable-track, .yt_miniscrubber input::-webkit-slider-runnable-track {
    background: #757575; /* Creating our own slider "track" */
    height: 5px;
    margin:5px 0;
}
.bottom_player input::-webkit-slider-thumb:before, .yt_miniscrubber input::-webkit-slider-thumb:before {
    content:"-"; /* Adding an element that will act as our slider's thumb */
    font-style: 0;
    line-height:0;
    position: absolute;
    left:-3000px;
    right:0;
    top:0;
    bottom:0;
    background: #6461eb;
}
.bottom_player input::-webkit-slider-thumb:after, .yt_miniscrubber input::-webkit-slider-thumb:after {
    content: ""; /* Now styling the element added before to look like a purple circle */
    position: absolute;
    background: #6461eb;
    border-radius: 50%;
    border: 7px solid #6461eb;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.6);
    z-index: 10;
    margin-top:-5px;
}
/* Removing outlines and default behavior on focus, hover */
.bottom_player input:focus, .yt_miniscrubber input:focus { outline:none; }
.bottom_player input:hover::-webkit-slider-thumb:after, .bottom_player input:focus::-webkit-slider-thumb:after,
.yt_miniscrubber input:hover::-webkit-slider-thumb:after, .yt_miniscrubber input:focus::-webkit-slider-thumb:after
{ background: #6461eb; }
.bottom_player input:disabled::-webkit-slider-thumb:before,
.yt_miniscrubber input:disabled::-webkit-slider-thumb:before, {
    background-color: #a1151a;
}
.bottom_player input:disabled::-webkit-slider-thumb:after,
.yt_miniscrubber input:disabled::-webkit-slider-thumb:after {
    background: #adadad !important;
}

/* The indicator of segments that have been passed */
.bottom_player .played {
    height: 5px;
    position: absolute;
    background: #3a1e94;
    margin-top: 5px;
    z-index: 10;
}

/* Breakpoint styling */
ul.player_breakpoints {
    position: relative;
}
ul.player_breakpoints li {
    height: 10px;
    position: absolute;
    background-color: white;
    width: 3px;
    z-index: 20;
    margin-top: 2px;
}

/* Notification styling */
.yt_notifications {
    min-width: 250px;
    position:  absolute;
    z-index: 10;
    padding: 5px;
    right: 0;
    color: white;
    background-color: #6461eb;
    margin-top: 80px;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
    opacity: 0;
}
.yt_notifications span {
    display: block;
    padding: 5px;
}
.yt_notifications span.bp_progress {
    font-weight: bold;
    border-bottom: 1px solid #F4D1FF;
}
.yt_notifications span.bp_title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slideInOut { animation: slideInOut 4s; }
@keyframes slideInOut {
    0% {
        opacity: 0;
        transform: translateX(100%); /* Starts offscreen */
    }
    15% {
        transform: initial;
        opacity: 1;
    }
    85% {
        transform: initial;
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

/* BP Browsing styling */
.browsing .bp_browser { display: block; }
.bp_browser {
    display: none;
    height: 250px;
    top: 30%;
    position: absolute;
    width: 100%;
}
.bp_browser ul {
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    white-space: nowrap;
}
.bp_browser li {
    height: 100%;
    vertical-align: top;
    position: relative;
    padding: 15px;
    padding-top: 30px;
    display: inline-block;
    width: 35%;
    border-top: 5px solid #6461eb;
}
.bp_browser li.even { background: white; }
.bp_browser li.odd { background: #ECECEC; }
.bp_browser .bp_start {
    font-weight: bold;
    color: #6461eb;
    font-size: 16px;
}
.bp_browser li p {
    margin-top: 10px;
    white-space: initial;
}
.bp_browser .tickmark {
    width: 5px;
    height: 10px;
    background-color: #6461eb;
    position: absolute;
    top: 0;
    left: 0;
}
.bp_browser .chosen_bp {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #3a1e94;
    top: -5px;
    margin: 0 auto;
    left: 0;
    right: 0;
}


.fadedOut { opacity: 0; }
/* All children of the faded out parent shouldn't be clickable (which they are with 0 opacity)
so we need to use pointer-events as well*/
.fadedOut * { pointer-events: none; }
.fadedIn { opacity: 1; }
.fadeIn {
    animation: fadeIn 0.25s;
    opacity: 1;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.fadeOut {
    animation: fadeOut 0.75s;
    opacity: 0;
}
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}


/* Some error screens */
.videoLoading {
    background-color: #EEE9F1;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    text-align: center;
}
.videoLoading span {
    transform: translateY(-50%);
    top: 45%;
    text-align: center;
    position: relative;
    color: #B8ADDA;
    font-size:20px;
}
.loading_BPS {
    text-align: center;
    padding: 20px;
    color: #998ABF;
}
